.stats_attendance {
    background-color: #607d8b;
    color: #fff;
    margin: 3vh 0;
    padding: 1vh 0;
    width: 100%;
	text-align: center;
}

@media (min-width: 800px) {
	.stats_attendance {
		display: flex;
    	justify-content: center;
	}
}