.button_attendance {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    margin-top: 0.5em;
    padding: 0.5em 0;
    transition: background-color 0.3s;
}
.button_attendance:focus,
.button_attendance:hover,
.button_attendance--active {
    background-color: #ffeb3b;
}